{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "overrides": [
        { "files": ["*.json", "*.tsx"], "options": { "tabWidth": 2 } }
    ],
    "arrowParens": "avoid"
}
